@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles can be added below */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Custom breakpoint for extra small screens */
@media (min-width: 475px) {
  .xs\:inline {
    display: inline;
  }
}
